.close_image img {
  min-width: 80vw;
}

@media(min-width: 670px) {
  .close_image img {
    min-width: 60vw;
  }
}

@media(min-width: 1100px) {
  .close_image img {
    min-width: 35vw;
  }
}
