.painting {
  position: relative;
  display: flex;
  cursor: pointer;
}

.gradient_wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50%;
  background: none;
  z-index: 5;
  opacity: 1;
  transition: 700ms ease-in-out;
}

.painting img {
  width: 100%;
}

.painting_info {
  position: absolute;
  color: transparent;
  grid-area: 1/2;
  align-self: flex-end;
  padding: 0 0 2rem 2rem;
  max-width: 90%;
  z-index: 9;
  transition: color 500ms ease-in-out;
}

.painting_info h1 {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

.painting_info p {
  font-size: 0.815rem;
}

.painting:hover .painting_info {
  color: #FFFFFF;
}

.painting:hover .gradient_wrapper {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.841672) 130%
  );;
}

@media(max-width: 1100px) {
  .painting .painting_info {
    color: #FFFFFF;
  }

  .gradient_wrapper {
    background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.841672) 130%
  );;
  }
}

@media(max-width: 650px) {
  .painting_info {
    padding: 0 0 1.5rem 1.5rem;
  }
}