* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: 'Libre Baskerville', serif;
}

body {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}


